body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
}

.item {
    overflow: hidden;
}

.item img {
    width: 100%;
    display: block;
    object-fit: contain;
    /* width: 100px; */
    height: 600px;
    object-fit: cover;
}

.item + .item {
    margin-left: 2%;
}

.btn {
    margin-top: 16px;
}

.fail-message {
    display: none;
}